<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CRUD_SP_Winform.Properties.Settings.TestSP_DBConnectionString"
            connectionString="Data Source=DESKTOP-11P8S1B\SQLEXPRESS;Initial Catalog=TestSP_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
</configuration>