@page "/viewpost/{postId}"
@layout MainLayout
@inherits ViewPostModel

<WdHeader Heading=@blogPost.Title Author=@blogPost.Author PostedDate=@blogPost.Posted></WdHeader>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                @blogPost.Post
            </div>
        </div>
    </div>
</article>
