@model BookManagement.Models.Book

@{
    ViewData["Title"] = Model.Name;
}
<partial name="_Single" model="Model" />
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-warning">Edit</a>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-danger">Delete</a>
    <a asp-action="Index" class="btn btn-sm btn-outline-secondary">Back to List</a>
</div>
